/*
 * _buttons.scss
 * =============
 * 
 */

.fm-button {
  border-radius: $border-radius-sm;
  background-color: $color-dark-grey;
  color: $color-white;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  letter-spacing: $font-letter-spacing;
  font-size: $font-size-caption;
  padding: 1rem $layout-modifier-sm;
  outline: 0;
  border: 0;
  transition: background-color ease-in-out $animation-transition-short;
  margin: 0 auto $layout-modifier-sm auto;
  width: 100%;

  @media(min-width: $screen-sm) {
    width: auto;
    margin: 0 0 $layout-modifier-sm 0;
  }

  &:hover:enabled, &:active, &:focus {
    background-color: $color-black;
  }

  &:disabled {
    opacity: 0.7;

    &:hover {
      cursor: not-allowed;
    }
  }

  &.button-light {
    background-color: transparent;
    border: 1px solid $color-white;

    &:hover:enabled, &:active, &:focus {
      background-color: rgba(255, 255, 255, 0.15);
      color: $color-white;
    }
  }

  &.button-accent {
    background-color: $color-accent;
    border: 0;

    &:hover:enabled, &:active, &:focus {
      background-color: $color-accent-shade;
      color: $color-white;
    }
  }

  &.button-left-margin {
    margin-right: 0;
    
    @media(min-width: $screen-sm) {
      margin-right: $layout-modifier-sm / 2;
    }
  }
}

.fm-pill {
  border-radius: $border-radius-md;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: $font-weight-semibold;
  letter-spacing: $font-letter-spacing;
  font-size: $font-size-small;
  padding: 0.7rem 1.4rem;
  outline: 0;
  border: 1px solid transparent;
  color: $color-text-primary-highlight;
  margin: 0 auto $layout-modifier-sm auto;
  min-width: $layout-modifier-lg;
  transition: all ease-in-out $animation-transition-short;
  white-space: nowrap;

  &:hover {
    color: $color-text-primary;
  }

  &.pill-active {
    border-color: $color-text-primary;
    color: $color-text-primary;

    &:hover {
      background-color: $color-light-grey-highlight;
    }

    &:active {
      background-color: $color-light-grey;
    }
  }

}

