/*
 * _global.scss
 * ============
 * 
 * All global styles goes in here. This file should only contain   
 * <element> selectors, no #id or .class selectors.
 *
 */

* {
  //border-radius: 0 !important;
  user-select: none;

  &:focus {
    outline-color: $color-accent !important;
    box-shadow: none !important;
  }
}

::selection {
  color: $color-white !important;
  background-color: $color-accent !important;
}

html {
  font-size: 56.3%;
  
  font-size: 50%;
  
  overflow-x: hidden;

  @media(min-width: $screen-sm) {
    font-size: 62.5%;
  }
}

body {
  font-family: $font-stack-open-sans;
  color: $color-text-primary;
  line-height: $font-line-height;
  font-size: $font-size-caption;
  -webkit-text-size-adjust: 100%;
  // Set limit of responsive behavior at 320px
  min-width: 32rem;

  //@include word-wrap(keep-all);
  //hyphens: auto;
  background-color: $color-white;

  word-wrap: keep-all;
  word-break: break-word;
  overflow-wrap: break-word; 
  hyphens: auto;
}

img { 
  border: 0;
  outline: 0; 
  -ms-interpolation-mode: bicubic;
  display: block; 
  width: 100%;
}

ul, ol, dl {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

span {

}

a {
  color: $color-accent;
  transition-timing-function: ease;
  transition-duration: $animation-transition-short;
  transition-property: color, border-color, background-color;
  font-size: inherit;

  &:hover, &:active, &:focus {
    color: $color-accent-shade;
    text-decoration: none;
    outline: none;
    border: none;
    transition-timing-function: ease;
    transition-duration: $animation-transition-short;
    transition-property: color, border-color, background-color;
  }
}

hr {
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid $color-text-primary;
  opacity: 0.5;
  margin: $font-size-base 0;
}

button[type=submit]:focus {
  color: $color-accent-shade;
}

h1, h2, h3, h4, h5, h6, p, a, 
td, th, span, li, input, textarea {
  user-select: text;
}

input, textarea {
  -webkit-appearance: none;
  display: block;
  margin: 0;
  width: 100%;
  font-family: inherit;
  color: inherit;
  font-size: $font-size-base;
  appearance: none;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  border-color: inherit;
  padding: $layout-modifier-sm;
  height: auto;
  vertical-align: middle;
  border-radius: $border-radius-sm;
  background-color: inherit;
  transition: border-color ease-in-out $animation-transition-short;

  &::placeholder {
    color: inherit;
    text-transform: uppercase;
    letter-spacing: $font-letter-spacing;
    font-size: inherit;
  }

  &:focus, &:active {
    border-color: $color-accent !important;
    outline: 0;
  }
}

input {
  border-radius: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}