/*
 * _table.scss
 * ===========
 * 
 */

$table-padding: 1rem;

.fm-table {
  border: 1px $color-light-grey-shade solid;
  width: 100%;
  max-width: 100%;
  margin-bottom: $layout-modifier-sm;
  font-size: 1.4rem;

  tr {

    th, td {
      padding: $table-padding;
      border: 0;
      line-height: inherit;
    }
  }

  thead {
    background-color: $color-accent;
    color: $color-white;
    text-transform: uppercase;
  }

  tbody {

    tr {
      background-color: $color-light-grey;

      &:nth-child(odd) {
        background-color: $color-white;
      }

      /*&.ng-enter-stagger {
        transition-delay: $animation-transition-short/4;
        transition-duration: 0;
      }

      &.ng-move, &.ng-enter, &.ng-leave {
        transition: opacity $animation-transition-short linear;
        //transition: all 175ms linear;
      }

      &.ng-leave.ng-leave-active, &.ng-move, &.ng-enter {
        opacity: 0;
        //transform: translate3d(5rem, 0, 0); 
        //transform: scale3d(0.5, 0.5, 0.5);
      }

      &.ng-leave, &.ng-move.ng-move-active, &.ng-enter.ng-enter-active {
        opacity: 1;
        //transform: translate3d(-1rem, 0, 0); 
        //transform: scale3d(1, 1, 1);
      }*/
    }
  }

  &.table-dark {

    tbody {

      tr {
        color: $color-white;
        background-color: $color-dark-grey-shade;

        &:nth-child(odd) {
          background-color: $color-dark-grey;
        }
      }
    }
  }
}
