<article ng-repeat="newsitem in news" class="col-xs-12 col-sm-6 col-md-4 fm-news-item">
  <div class="news-item-wrapper">
    <a ui-sref="article({id: newsitem.NewsItemId})">
    <figure class="news-item-image background-image-cover" style="background-image: url('img/fm-hero.jpg');"></figure>

    <div class="news-item-content">
      <!--<small class="news-item-date">{{newsitem.PublishDate | limitTo : 10}}</small>-->

      <h6 class="news-item-headline text-left">{{newsitem.Title}}</h6>
      <p class="text-caption text-left visible-xs" ng-bind-html="newsitem.Excerpt"></p>

      <!--<div class="news-item-tag" ng-if="newsitem.Tag">
        <hr />
        <a class="tag-name" href="#">
          <span class="tag-icon glyphicon glyphicon-tag"></span> {{newsitem.Tag}}
        </a>
      </div>-->

    </div>

    <footer class="news-item-footer">
      <p class="no-margin text-right">Läs mer ></p>
    </footer>
      </a>
  </div>
</article>


