.fm-news-item {
  margin-bottom: $layout-modifier-lg;
  text-align: center;

  .news-item-wrapper {
    border: 1px solid $color-light-grey-shade;
    transition: transform $animation-transition-short ease-in, box-shadow $animation-transition-short ease-in;
    //margin: 0 auto;
    @media(min-width: $screen-sm) {
      //max-width: 35rem;
    }

    &:hover {
      transform: scale3d(1.02, 1.02, 1.02);
      transition: transform $animation-transition-short ease-out, box-shadow $animation-transition-short ease-out;
      transition-delay: $animation-transition-short;
      box-shadow: 0 0 0.5rem $color-light-grey-shade;
    }

    .news-item-image {
      height: 20rem;
      background-color: $color-accent;
    }

    .news-item-content {
      background-color: $color-white;
      padding: $layout-modifier-sm;

      .news-item-date {
        padding: 0;
        text-transform: uppercase;
        letter-spacing: $font-letter-spacing;
        font-weight: $font-weight-semibold;

        .news-item-headline {
          text-transform: capitalize;
          max-height: 7rem;
          overflow: hidden;

          a {
            color: inherit;

            &:hover {
              color: $color-black;
            }
          }
        }

        .news-item-tag {
          font-size: $font-size-small;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          display: block;
          text-align: center;
          margin-bottom: 0;
          padding-bottom: 0;

          .tag-name {
            font-weight: $font-weight-semibold;
            color: $color-text-primary;
            margin-right: $layout-modifier-sm;
            display: block;
            word-break: keep-all;

            .tag-icon {
              color: $color-accent;
              transition: color $animation-transition-short ease-in;
            }

            &:hover {
              color: $color-text-primary-shade;
              transition: color $animation-transition-short ease-out;

              .tag-icon {
                color: $color-accent-shade;
                transition: color $animation-transition-short ease-out;
              }
            }
          }
        }
      }
    }

    .news-item-footer {
      background-color: $color-accent;
      padding: $layout-modifier-sm;
      color: $color-white;
    }
  }
}
