.fm-newsfeed {
  background-color: $color-light-grey;
  text-align: center;

  .fm-news-title {

  }

  .fm-news-subtitle {
    margin-bottom: $layout-modifier-lg;
  }

  .fm-news-item {
    margin-bottom: $layout-modifier-lg;

    .inner {
      background-color: $color-white;
      padding: $layout-modifier-lg;
      
      .fa-news-date {
        padding: 0;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
        font-weight: $font-weight-semibold;
      } 

      .fm-news-headline {

      }

      .fm-news-content{
        margin-bottom: $layout-modifier-sm;
      }
    }
  }

  .fa-news-link {
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    font-size: $font-size-h6;
    padding-bottom: 0.5rem;
    letter-spacing: 0.3rem;
    border-bottom: 1px solid $color-accent;
  }
}
