$size: 2.5rem;

.generator-progressbar {
  padding: 0;

  @media(min-width: $screen-sm) {
    padding: $layout-modifier-lg 0 0 0;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      color: $color-text-primary-highlight;
      text-align: center;
      transition: color $animation-transition-short ease-in;
      font-size: 1.4rem;
      text-transform: capitalize;
      display: block;
      width: 100%;
      position: relative;

      @media(min-width: $screen-sm) {
        font-size: 1.2rem;
      }

      &:before {
        display: none;

        @media(min-width: $screen-sm) {
          display: block;
          content: attr(data-step);
          width: $size;
          height: $size;
          line-height: #{strip-units($size) * 10}px; // IE does not support rems for line-height in pseudo elements, hence the need for the expression.
          border-radius: $border-radius-lg;
          position: absolute;
          top: -1 * ($size + 1rem);
          left: 0;
          right: 0;
          margin: auto;
          color: $color-white;
          background-color: $color-text-primary-highlight;
          transition: background-color $animation-transition-short ease-in;
          z-index: 2;
        }
      }

      &:after {
        content: none;

        @media(min-width: $screen-sm) {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          margin: auto;
          top: -1 * ($size - 0.1rem);
          left: 50%;
          right: 0;
          background-color: $color-text-primary-highlight;
        }
      }

      &:last-of-type {

        &:after {
          content: none;
        }
      }

      &.active {
        color: $color-accent;
        transition: color $animation-transition-short ease-out;

        &:before {
          background-color: $color-accent;
          color: $color-white;
          transition: background-color $animation-transition-short ease-out;
        }

        &:after {
          background-color: $color-accent;
        }
      }
    }
  }

  .small-progressbar {
    display: block;
    overflow: hidden;
    width: 100%; 
    height: 0.4rem; 
    margin-top: 1rem;
    background-color: $color-text-primary-highlight;
    padding: 0;

    @media(min-width: $screen-sm) {
      display: none;
    }
    
    .meter {
      display: block;
      height: 100%;
      width: 0;
      background-color: $color-accent;
      transition: width $animation-transition-medium;
    } 
  }
}
