$navbar-height: 6.5rem;

.fm-navbar-offset {
  margin-top: $navbar-height;
}

.fm-navbar {
  width: 100%;
  z-index: 10;
  background-color: $color-white;
  border-bottom: 1px $color-light-grey-shade solid;
  height: $navbar-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: padding $animation-transition-medium ease-in-out;

  &.navbar-fixed {
    position: fixed;
    margin: auto;
    top: 0;
  }

  nav {

    ul {
      text-align: center;

      li {
        display: inline-block;
        padding-right: $layout-modifier-sm;

        @media(min-width: $screen-sm) {
          padding-right: $layout-modifier-lg;
        }

        &.fm-navbar-menu-button {
          display: inline-block;

          @media(min-width: $screen-sm) {
            display: none;
          }
        }

        a {
          text-transform: uppercase;
          font-size: $font-size-small; 
          font-weight: $font-weight-semibold;
          letter-spacing: $font-letter-spacing;
          color: $color-text-primary;
          position: relative;

          &:hover {
            color: $color-text-primary-shade;
          }

          &.fm-navbar-active:before {
            content: " ";
            border-top: solid 0.7em $color-accent;
            position: absolute;
            top: ($navbar-height / 2.5) * -1;
            display: inline;
            width: 100%;
          }

          .glyphicon {
            //font-size: 1.5rem;
            font-size: $font-size-base;
          }
        }
      }
    }
  }
}

.fm-fund-menu-modal, .fm-fund-search-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100000;
  visibility: hidden;
  opacity: 0;
  transition: opacity $animation-transition-short, visibility 0s $animation-transition-short;
  
  &.modal-open {
    visibility: visible;
    opacity: 1;
    transition: opacity $animation-transition-short;
  }

  .fm-fund-modal-close-button {
    position: absolute;
    margin: auto;
    top: $layout-modifier-sm;
    right: $layout-modifier-sm;
    width: 4.5rem;
    height: 4.5rem;
    display: block;
    z-index: 200000;

    @media(min-width: $screen-sm) {
      width: 6rem;
      height: 6rem;
      top: $layout-modifier-lg;
      right: $layout-modifier-lg;
    }

    &:hover {
      cursor: pointer;

      span {
        opacity: 1;
        transition: opacity $animation-transition-short ease-out;
      }
    }

    span {
      display: block;
      position: absolute;
      height: 0.2rem;
      width: 100%;
      background: $color-white;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      transition: opacity $animation-transition-short ease-in;

      @media(min-width: $screen-sm) {
        height: 0.3rem;
      }

      &:nth-child(1) {
        transform: rotate(135deg);
      }

      &:nth-child(2) {
        transform: rotate(-135deg);
      }
    }
  }
}

.fm-fund-menu-modal {
  background-color: rgba(0, 0, 0, 0.9);

  nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .fm-fund-menu-modal-links {

      &.links-open {

        li {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          transition: all $animation-transition-short ease-out;

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              transition-delay: #{ (3 - $i + 1) * 100 }ms;
            }
          }
        }
      }

      li {
        padding: 0;
        text-align: center;
        opacity: 0;
        transform: translate3d(0, -100vh, 0);
        transition: all $animation-transition-short ease-in;
        margin: 20% 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        @for $i from 1 through 3 {
          &:nth-child(#{$i}) {
            transition-delay: #{ $i * 100 }ms;
          }
        }

        a {
          color: $color-white;
          opacity: 0.5;
          text-transform: uppercase;
          transition: opacity $animation-transition-short ease-in;
          font-size: $font-size-h3;

          &:hover {
            opacity: 1;
            transition: opacity $animation-transition-short ease-out;
          }
        }
      }
    }
  }
}

.fm-fund-search-modal {
  background-color: rgba(42,187,174,0.98);
  //background-color: rgba(48,68,76,1);
  //overflow-y: scroll;
  
  #fm-logo {
    position: absolute;
    height: 150%;
    width: 150%;
    min-width: 50rem;
    min-height: 50rem;
    top: 0;
    bottom: 0;
    left: 10%;
    right: 0;
    margin: auto;

    #logo-group {
      opacity: 0.05;

      path {
        fill: $color-white;
      }
    }
  }

  .fm-fund-search-wrapper {
    color: $color-white;
    padding: $layout-modifier-sm $layout-modifier-lg;

    @media(min-width: $screen-sm) {
      padding: $layout-modifier-lg $layout-modifier-xl;
    }

    .fm-fund-list, .fm-news-list {
      font-size: $font-size-h6;

      @media(min-width: $screen-sm) {
        font-size: $font-size-h5;
      }

      &.ng-enter, &.ng-leave {
        transition: $animation-transition-long ease-in all;
        position: relative;
        display: block;
      }

      &.ng-enter.ng-enter-active, &.ng-leave {
        opacity: 1;
      }

      &.ng-leave.ng-leave-active, &.ng-enter {
        opacity: 0;
      }

      a {
        color: $color-white;
        opacity: 0.5;

        &:hover {
          opacity: 1;
        }
      }
    }

    label {
      font-weight: $font-weight-light;
      font-size: $font-size-h4;
      margin-bottom: $layout-modifier-sm;

      @media(min-width: $screen-sm) {
        font-size: $font-size-h3;
      }
    }

    input {
      padding: 0;
      margin-bottom: $layout-modifier-lg;
      background-color: transparent;
      outline: 0;
      box-shadow: none;
      border-radius: 0;
      border: 0;
      font-size: $font-size-h3;
      
      &::-ms-clear {
        display: none;
      }

      @media(min-width: $screen-sm) {
        font-size: $font-size-h2;
      }
    }
  }
}