.fm-navbar {
    position: fixed;
    width: 100%;
    padding: $layout-modifier-small 0;
    margin: auto;
    top: 0;
    z-index: 2;
    background-color: $color-white;
    border-bottom: 1px #E6E6E6 solid;

  nav {

    ul {
      text-align: right;

      li {
         display: inline-block;
         padding-right: $layout-modifier-large;

         a {
           font-size: $font-size-h6;
           text-transform: uppercase;
           font-weight: $font-weight-semibold;
           letter-spacing: 0.3rem;
           color: $color-text-primary;

           &:hover {
             color: $color-text-primary-shade;
           }
         }
      }
    }
  }
}