<div class="fm-navbar animated fadeInDownBig">
  <nav>
    <ul>
      <li><a href="" ng-click="openModal()"><span class="glyphicon glyphicon-search"></span></a></li>
      <li ng-repeat="link in navbarlinks"><a ui-sref-active="fm-navbar-active" ui-sref="{{link.url}}">{{link.name}}</a></li>
      <!--<li><a ng-if="isAuthenticated()" href="" ng-click="logOut()">Logga ut</a></li>
      <li><a ng-if="!isAuthenticated()" ui-sref-active="fm-navbar-active" ui-sref="Skapa Konto">Skapa Konto</a></li>-->
    </ul>
  </nav>
</div>

<!-- fm-modal -->
<div id="fm-fund-modal" class="fm-fund-modal">

  <div ng-click="closeModal()" class="fm-fund-modal-close-button animated">
    <span></span>
    <span></span>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 fm-fund-search-wrapper">

        <div class="col-xs-12 fm-modal-inputgroup animated">
          <label>Sök</label>
          <input id="fm-fund-modal-seach" type="text" ng-model="search.title" />
        </div>

        <div class="col-xs-12 col-md-6" ng-show="search.title">
          <label>Fonder</label>
          <ul>
            <li class="fm-fund-list text-truncate" ng-repeat="item in searchItems | filter : search | filter: { type: 'fund' }"><a href="">{{item.title}}</a></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6" ng-show="search.title">
          <label>Nyheter</label>
          <ul>
            <li class="fm-news-list text-truncate" ng-repeat="item in searchItems | filter : search | filter: { type: 'news' }"><a href="">{{item.title}}</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div><!-- fm-modal:end -->
