/*
 * _color-variables.scss
 * =====================
 * 
 */

// Global Colours
$color-black: #172039;
$color-white: #FFF;

$color-red: #DF574B;
$color-red-highlight: tint($color-red, 40);
$color-red-shade: shade($color-red, 20);

$color-accent: #2ABBAE;
$color-accent-highlight: tint($color-accent, 40);
$color-accent-shade: shade($color-accent, 20);

$color-light-grey: #F2F2F0;
$color-light-grey-shade: shade($color-light-grey, 5);

$color-dark-grey: #303E4C;
$color-dark-grey-highlight: tint($color-dark-grey, 15);
$color-dark-grey-shade: shade($color-dark-grey, 25);

// Text Colours
$color-text-primary: #898484;
$color-text-primary-highlight: tint($color-text-primary, 60);
$color-text-primary-shade: shade($color-text-primary, 20);