/*
 * _font-variables.scss
 * ====================
 * 
 */

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

// Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 800;

// Sizes
$font-size-h1: 11.2rem;
$font-size-h2: 5.6rem;
$font-size-h3: 4.5rem;
$font-size-h4: 3.4rem;
$font-size-h5: 2.4rem;
$font-size-h6: 2rem;
$font-size-base: 1.6rem;
$font-size-caption: 1.4rem;
$font-size-small: 1.2rem;

// Line Height (keep unitless)
$font-line-height: 1.667;

//$font-line-height: 1.5;

// Letter Spacing
$font-letter-spacing: 0.3rem;
$font-letter-spacing-sm: 0.1rem;

/*---------------------------
  Font-stacks:                     
---------------------------*/

// Serif
$font-stack-antiqua: 'Book Antiqua', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
$font-stack-baskerville: 'Baskerville', 'Baskerville old face', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif';
$font-stack-bodoni: 'Bodoni MT', 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif';
$font-stack-cambria: 'Cambria', 'Georgia', 'serif';
$font-stack-caslon: 'Big Caslon', 'Book Antiqua', 'Palatino Linotype', 'Georgia', 'serif';
$font-stack-constantia: 'Constantia', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Georgia', 'serif';
$font-stack-didot: 'Didot', 'Didot LT STD', 'Hoefler Text', 'Garamond', 'Times New Roman', 'serif';
$font-stack-garamond: 'Garamond', 'Baskerville', 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', 'serif';
$font-stack-goudy: 'Goudy Old Style', 'Garamond', 'Big Caslon', 'Times New Roman', 'serif';
$font-stack-hoefler: 'Hoefler Text', 'Baskerville old face', 'Garamond', 'Times New Roman', 'serif';
$font-stack-lucida-bright: 'Lucida Bright', 'Georgia', 'serif';
$font-stack-palatino: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', "Book Antiqua", 'Georgia', 'serif';
 
// Sans-serif
$font-stack-calibri: 'Calibri', 'Candara', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
$font-stack-candara: 'Candara', 'Calibri', 'Segoe', 'Segoe UI', 'Optima', 'Arial', 'sans-serif';
$font-stack-courier: 'Courier New', 'Courier', 'Lucida Sans Typewriter', 'Lucida Typewriter', 'monospace';
$font-stack-franklin: 'Franklin Gothic Medium', 'Arial', 'sans-serif';
$font-stack-futura: 'Futura', 'Trebuchet MS', 'Arial', 'sans-serif';
$font-stack-geneva: 'Geneva', 'Tahoma', 'Verdana', 'sans-serif';
$font-stack-gill-sans: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'sans-serif';
$font-stack-helvetica: 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';
$font-stack-lucida-grande: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva', 'Verdana', 'sans-serif';
$font-stack-optima: 'Optima', 'Segoe', 'Segoe UI', 'Candara', 'Calibri', 'Arial', 'sans-serif';
$font-stack-open-sans: 'Open Sans', 'sans-serif';
$font-stack-segoe: 'Segoe', 'Segoe UI', 'Helvetica Neue', 'Arial', 'sans-serif';
$font-stack-tahoma: 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
$font-stack-trebuchet: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Tahoma', 'sans-serif';
$font-stack-verdana: 'Verdana', 'Geneva', 'sans-serif';