/*
 * _layout-variables.scss
 * ============
 * 
 */

// Layout modifiers (use to set padding or margin)
$layout-modifier-small: 2.4rem;
$layout-modifier-large: $layout-modifier-small * 2;

// Padding
$layout-section-padding: 12rem;