/*
 * _layout-variables.scss
 * ============
 * 
 */

// Layout modifiers (use to set padding or margin)
$layout-modifier-xs: 0.3rem;
$layout-modifier-sm: 2.4rem;
$layout-modifier-lg: $layout-modifier-sm * 2;
$layout-modifier-xl: $layout-modifier-sm * 6;

// Padding
$layout-section-padding: 12rem;
