/*
 * _layout-variables.scss
 * ======================
 * 
 */

// Layout modifiers (use to set padding or margin)
$layout-modifier-sm: 2.4rem;
$layout-modifier-lg: $layout-modifier-sm * 2;
$layout-modifier-xl: $layout-modifier-sm * 6;

// Padding
$layout-section-padding: 10rem;

// Border-radius
$border-radius-sm: 0.4rem;
$border-radius-lg: 100%;