<fm-hero-image></fm-hero-image>

<div class="container" ng-controller="FmHomeController">
  <div class="row">
    <div class="col-xs-12 section-padding">
      <h2>{{home.title}}</h2>
      <p>{{home.content}}</p>
  </div>


    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 ">
        <table class="fm-table">

          <thead>
            <tr>
              <th>Fond</th>
              <th>Kurs</th>
              <th class="hidden-xs">Utv.</th>
              <th class="hidden-xs hidden-sm">Risk</th>
              <th class="hidden-xs">Betyg</th>
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="fund in funds | filter : search">
              <td>
                <span class="fm-fund-table-title">{{fund.manager}} - </span>
                <span>{{fund.name}}</span>
              </td>
              <td>{{fund.price}}</td>
              <td class="hidden-xs">{{fund.return}}</td>
              <td class="hidden-xs hidden-sm">{{fund.risk}}</td>
              <td class="hidden-xs">
                <span ng-repeat="i in getNumber(fund.rating) track by $index" class="glyphicon glyphicon-star"></span>
              </td>
            </tr>
          </tbody>

        </table>

      </div>
    </div>
</div>


