<div class="fm-news-item-wrapper">

  <article ng-repeat="newsitem in news" class="fm-news-item">
    <div class="news-item-wrapper">
      <figure class="news-item-image"></figure>

      <div class="news-item-content">
        <!--<small class="fa-news-date">{{newsitem.PublishDate | limitTo : 10}}</small>-->

        <p class="news-item-headline">
          <a href="#">{{newsitem.Title}}</a>
        </p>

        <div class="news-item-tag" ng-if="newsitem.Tag">
          <hr />
          <a class="tag-name" href="#">
            <span class="tag-icon glyphicon glyphicon-tag"></span> {{newsitem.Tag}}
          </a>
        </div>
      </div>
    </div>
  </article>

</div>
