<div class="row" ng-init="fmPortfolio.states.configure.init()">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1" style="padding-top: 2.5rem;">
    <!-- Fix later -->
    <h3 class="text-center no-padding">Välj hur du vill utföra ditt sparande</h3>
    <p class="text-center" style="font-size: 1.4rem;">Hur mycket vill du spara varje månad?</p><!-- Fix later -->
  </div>
</div>

<header class="fund-package-panel-header">
  <p class="fund-package-name"></p>
</header>

<div class="fund-package no-border-top">

  <div class="col-xs-4 col-sm-4 payment-toggle-wrapper">
    <div class="payment-toggle" ng-click="fmPortfolio.togglePayMethod()">
      <div class="payment-toggle-inner" ng-class="{ 'toggled': fmPortfolio.payOnce }">
        <div class="payment-plan">
          <span data-icon="&#xe00d;"></span>
          <!--<p class="no-margin no-padding">Månadspara</p>-->
        </div>
        <div class="payment-plan">
          <span data-icon="&#xe016;"></span>
          <!--<p class="no-margin no-padding">Köp en gång</p>-->
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-sm-8">
    <h3>Månadsspara</h3>
    <p style="font-size: 1.4rem;">
      Bacon ipsum dolor amet tongue leberkas pork belly, rump ham short ribs andouille pancetta shoulder biltong filet mignon meatball capicola.
    </p>
    <input id="fm-range" type="range" min="0" max="10000" step="50" ng-model="fmPortfolio.payments" />
    <input ng-model="fmPortfolio.payments" type="text" min="0" max="10000" step="50" />
  </div>

</div>
