
<section class="background-light section-padding" style="padding-top: 2.5rem;"><!-- Fix later -->
  <div class="container">

    <!-- Step indicator -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <fm-step-progressbar steps="fmPortfolio.steps"></fm-step-progressbar>
      </div>
    </div><!-- Step indicator:end -->

    <!-- Form -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div id="form-views" ui-view></div>
      </div>
    </div><!-- Form:end -->

    <!-- Disclaimer -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <fm-disclaimer disclaimer="fmPortfolio.disclaimer"></fm-disclaimer>
      </div>
    </div><!-- Disclaimer:end -->

  </div>
</section>

