.fm-hero {
  background-image: url('../img/fm-hero.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  min-height: 65vh;
  background-color: $color-accent;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  &:before {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 90, 68, 0.40);
    background-repeat: repeat;
  }

  .fm-hero-content {

    &.animated {
      animation-duration: 1600ms;
    }

    .fm-hero-title {
      color: $color-white;
      letter-spacing: 0.5rem;
    }
  }
}
