
<section class="background-light section-padding" style="padding-top: 2.5rem;">
  <!-- Fix later -->

  <div class="container">

    <!-- Step indicator -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <fm-step-progressbar steps="fmPortfolio.steps"></fm-step-progressbar>
      </div>
    </div><!-- Step indicator:end -->

    <!-- Form -->
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <div id="form-views" ui-view></div>
      </div>
    </div><!-- Form:end -->

    <!--<div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <a href="" ui-sref=".userdetails" class="fm-button button-accent">state1</a>
        <a href="" ui-sref=".configure" class="fm-button button-accent">state3</a>
        <a href="" ui-sref=".confirm" class="fm-button button-accent">state4</a>
      </div>
    </div>-->

  </div>
</section>

