<section class="fm-footer">
  <div class="container-fluid section-padding">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">

        <div class="fm-footer-list col-xs-12 col-md-6">
          <h4>Frågor och svar</h4>

          <ul>
            <li><span class="glyphicon glyphicon-triangle-right"></span>Var hittar jag mitt årsbesked?</li>
            <li><span class="glyphicon glyphicon-triangle-right"></span>Kan jag bli kund om jag bor utomlands?</li>
            <li><span class="glyphicon glyphicon-triangle-right"></span>Kan jag öppna ett konto åt mina barn eller barnbarn?</li>
            <li><span class="glyphicon glyphicon-triangle-right"></span>Varför behöver jag en autogirokoppling?</li>
            <li><span class="glyphicon glyphicon-triangle-right"></span>Vad är minimibelopp?</li>
          </ul>

          <h4>Öppettider</h4>

          <ul>
            <li>Måndag-Fredag: <span style="margin-left: 10rem;" class="text-semibold">09.00-12.00 & 13.00-17.00</span></li>
          </ul>

        </div>

        <form class="fm-contact-form col-xs-12 col-md-6" action="" method="">
          <h4>Kontakta kundservice</h4>

          <div class="form-input-group">
            <input type="text" name="name" placeholder="Namn">
          </div>
          <div class="form-input-group">
            <input type="email" name="email" placeholder="E-post">
          </div>
          <div class="form-group">
            <textarea rows="5" name="message" placeholder="Hur kan vi hjälpa till?"></textarea>
          </div>
          <button type="submit" class="fm-button button-light">Skicka</button>
        </form>

      </div>
    </div>
  </div>


  <div class="fm-footer-address-bar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
          <div class="fm-footer-address-bar-wrapper">
            <p><span class="glyphicon glyphicon-earphone"></span>08 - 432 221 54</p>
            <p><span class="glyphicon glyphicon-map-marker"></span>Incognitogatan 42, 234 45 Stockholm</p>
            <p><span class="glyphicon glyphicon-envelope"></span>info@incognito.se</p>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

