.fm-footer {
  background-color: $color-dark-grey;
  color: $color-white;

  h4 {
    color: $color-white;
  }

  .fm-footer-list {
    
    ul  {

      li {
        margin-bottom: 1rem;

        &:last-of-type {
          margin-bottom: 0;
        }

        .glyphicon {
          font-size: $font-size-caption;
          margin-right: 1rem;
        }
      }
    }
  }

  .fm-footer-address-bar {
    padding: $layout-modifier-sm;
    background-color: $color-dark-grey-shade;

    .fm-footer-address-bar-wrapper {
      text-align: center;

      @media(min-width: $screen-sm) {
        display: flex;
        justify-content: space-between;
      }

      p {
        padding: 0;
        margin: 1rem auto;
        font-size: $font-size-caption;
        font-weight: $font-weight-light;

        @media(min-width: $screen-sm) {
          margin: 0 auto; 
        }

        span {
          margin-right: 0.5rem;
        }
      }
    }
  }

  .fm-form-title {
    color: $color-white;
    margin-bottom: $layout-modifier-lg;
  }

  .fm-contact-form {

    input, textarea {
      margin-bottom: $layout-modifier-lg;
      background-color: transparent;
      color: $color-white;
    }

    textarea {
      margin-top: $layout-modifier-lg * 1.5;
      resize: vertical;
    }

    button[type=submit] {
      width: 100%;

      @media(min-width: $screen-sm) {
        width: auto;
      }
    }
  }
}
