<section class="section-padding fm-register background-dark">
  
  <div class="container">
    <div class="row">
      <h2 class="text-center">Skapa Konto</h2>
      <form ng-submit="fmRegister.submit()" name="register" class="col-xs-12 col-sm-8 col-sm-offset-2">
        <input type="text" ng-model="fmRegister.name" name="name" placeholder="Användarnamn">
        <input type="password" ng-model="fmRegister.password" name="password" placeholder="Lösenord">
        <input type="submit" class="fm-button button-accent" value="Skapa Konto" />
      </form>
    </div>
  </div>

</section>