<section class="section-padding fm-register" ng-controller="FmRegisterController">
  
  <div class="container">
    <div class="row">
      <h2 class="text-center">Skapa Konto</h2>
      <form ng-submit="submit()" name="register" class="col-sm-4 col-sm-offset-4">
        <input type="text" ng-model="name" name="name" placeholder="Användarnamn">
        <input type="password" ng-model="password" name="password" placeholder="Lösenord">
        <button class="fm-button button-accent">Skapa Konto</button>
      </form>
    </div>
  </div>

  
</section>